@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family:'Nunito' ;
}

.loading-page{
    background-color: #000;
    color: #fff;
    width: 100vw;
    height: 100vh;
    font-family:'Nunito', sans-serif;
    position: relative;
    z-index: -5;
    overflow: hidden;
}

.logo,
.main-logo{
    width: min(75rem , 100%);
    margin-inline: auto;
    padding: 2rem 4rem;
}

.counter{
    display: flex;
    justify-content: center;
    transform: translateY(14rem);
}

.counter h1{
    font-size: 3.4rem;
    font-weight: 400;
}

.card{
    width: 14rem;
    height: 16rem;
    margin-top: 2px;
    position: absolute;
    margin: auto;
    inset: 0;
    transform-origin: center;
    z-index: -2;
}

.card-1{
    background-color: #FE9860;
    transform: translateY(-50rem) translateX(-20rem) rotate(-30deg);
}
.card-2{
    background-color: #7A77FE;
    transform: translateY(-50rem) translateX(-20rem);
        /* opacity: 0; */
}
.card-3{
    background-color: #C478FF;
    transform: translateX(20rem) translateY(-50rem);
    /* opacity: 0; */
}

.main{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    overflow: hidden;
}

/* .wrapper{
    margin-bottom: 6rem;
} */

.main .heading{
    transform: translateY(9rem);

    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin-inline: auto;
    overflow: hidden;
    /* margin-bottom: 8rem; */
}

.main .heading h1{
    font-size: clamp(4.5rem, 14vw + 1rem, 8rem);
    font-weight: 400;
    text-transform: capitalize;
    /* margin-bottom: 2rem; */
    transform: translateY(9rem);
}

.card-4{
    background-color: #FE9860;
    transform: translateX(-20rem) translateY(50rem) rotate(-50deg);
}
.card-5{
    background-color: #7A77FE;
    transform: translateX(20rem) translateY(50rem) rotate(50deg);
}
.card-6{
    background-color: #C478FF;
    transform: translateY(50rem) rotate(50deg);
}